body{
  margin:0px;
  padding:0px;

}
#loader{
  height: 3500px;
  width: 3500px;
  background-color: #ffffff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform:
  translate(-50%,-50%);
  z-index: 999;
}#loader img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:
  translate(-50%,-50%);
}
